# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.sqlite3
*.log

# VSCode
.vscode/

# Environment
.env

# macOS
.DS_Store

# Docker
mongo-data/

# Jupyter
*.ipynb_checkpoints/

# OS junk files
Thumbs.db

# Migrations cache
**/migrations/__pycache__/

# Other
*.swp
*.swo